
/******************************************************************************
* Main text properties
******************************************************************************/

html {
    background-color: #E8E8E8;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: white;
    color: #333;
    font-size: 24px;
    font-family: Optima;
    text-align: justify;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.tmdoc-body {
    padding: 0px;
    margin: 0px 5em;
}

h1 {
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h3 {
    font-weight: bold;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h4, h5, h6 {
    font-weight: bold;
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0em;
}

p {
    margin: 0px;
    padding: 0px;
    padding-bottom: 0.35em;
    padding-top: 0.35em;
}

ul, ol, dl {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0.35em;
    padding-top: 0.35em;
}

a:link, a:visited {
    color: #805020;
    text-decoration: none;
}

a:active, a:focus, a:hover {
    color: #D0343F;
    text-decoration: underline;
}

.tmweb-obsolete, .tmweb-copyright {
    display: none;
}

@media screen and (max-width: 1199px) {
    body {
        font-size: 20px;
    }
}

@media screen and (max-width: 799px) {
    body {
        font-size: 16px;
    }

    .tmdoc-body {
        margin: 0px 2em;
    }
}

/******************************************************************************
* Headers
******************************************************************************/

.tmweb-pad-below {
    padding-bottom: 20px;
}

.tmweb-header {
    margin: 0px -5em;

    background-color: white;
    background-image: url("../images/tiny-sigma-232.png"),
                      url("../images/uniform-232.png");
    background-position: bottom, top;
    background-repeat: repeat-x, repeat;
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
}

.tmweb-header a:link, .tmweb-header a:visited {
    color: #555;
}

.tmweb-header a:active, .tmweb-header a:focus, .tmweb-header a:hover {
    color: #D0343F;
    text-decoration: underline;
}

.tmweb-title-image {
    width: 60px;
    height: 60px;
    vertical-align: -27px;
    padding: 10px 10px;
}

.tmweb-title {
    height: 60px;
    font-weight: bold;
    font-size: 1.6em;
}

.tmweb-top-menu {
    height: 60px;
    padding-top: 30px;
    float: right;
}

.tmweb-top-menu a {
    background-image: none;
    border-style: none;
    display: inline-block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 1199px) {
    .tmweb-title-image {
        width: 50px;
        height: 50px;
        vertical-align: -23px;
        padding: 8px 8px;
    }

    .tmweb-title {
        height: 50px;
    }

    .tmweb-top-menu {
        height: 50px;
        padding-top: 20px;
    }
}

@media screen and (max-width: 799px) {
    .tmweb-header {
        margin: 0px -2em;
        padding: initial;
        padding-top: 5px;
        padding-bottom: 40px;
    }

    .tmweb-title-image {
        width: 40px;
        height: 40px;
        vertical-align: -18px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 2em;
        padding-right: 0em;
    }

    .tmweb-title {
        height: 40px;
    }
    
    .tmweb-top-menu {
        height: initial;
        float: initial;
        position: relative;
        overflow: hidden;
        padding-top: 10px;
    }
    
    .tmweb-top-menu a {
        border-color: silver;
        border-style: solid none none none;
        border-width: thin;
        color: #555;
        display: block;
        padding: 5px 2em;
        text-align: left;
    }
}

/******************************************************************************
* Footers
******************************************************************************/

.tmweb-pad-above {
    padding-top: 20px;
}

.tmweb-footer {
    margin: 0px -5em;

    background-color: white;
    background-image: url("../images/tiny-sigma-232-rev.png"),
                      url("../images/uniform-232.png");
    background-position: top, bottom;
    background-repeat: repeat-x, repeat;

    color: #555;
    padding-top: 40px;
    text-align: center;
}

.tmweb-footer a:link, .tmweb-footer a:visited {
    color: #777;
}

.tmweb-footer a:active, .tmweb-footer a:focus, .tmweb-footer a:hover {
    color: #D0343F;
    text-decoration: underline;
}

.tmweb-footer h1, .tmweb-footer h2, .tmweb-footer h3 {
    margin-top: 0em;
}

.tmweb-footer .tmweb-license, .tmweb-footer section {
    font-size: 18px;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    text-align: left;
    vertical-align: top;
}

.tmweb-footer .tmweb-license {
    text-align: justify;
    width: 400px;
}

.tmweb-footer nav a {
    display: block;
    text-align: left;
}

.tmweb-footer nav .tmweb-obsolete {
    display: none;
}

@media screen and (max-width: 1199px) {
    .tmweb-footer .tmweb-license {
        width: initial;
        display: block;
        margin-left: 5em;
        margin-right: 5em;
    }

    .tmweb-footer .tmweb-license, .tmweb-footer section {
        font-size: 15px;
    }
}

@media screen and (max-width: 799px) {
    .tmweb-footer {
        margin: 0px -2em;
    }

    .tmweb-footer .tmweb-license, .tmweb-footer section {
        font-size: 12px;
    }
}
        
/******************************************************************************
* Special markup
******************************************************************************/

.subsup {
    display: inline;
    vertical-align: -0.2em
}

.subsup td {
    padding: 0px;
    text-ALIGN: left
}

.fraction {
    display: inline;
    vertical-ALIGN: -0.8em
}

.fraction td {
    padding: 0px;
    text-align: center
}

.wide {
    position: relative;
    margin-left: -0.4em
}

.accent {
    position: relative;
    margin-left: -0.4em;
    top: -0.1em
}

.compact-block p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.left-tab {
    text-align: left;
}

.center-tab {
    text-align: center;
}

.right-tab {
    text-align: right;
    position: relative;
    top: -1em;
}
